# Configurações do Servidor Hubitat
SECRET_KEY="hubitat_segredo_mestre_2026"
PORT=5002

# Configuração do Banco de Dados MySQL Exclusivo
DB_HOST="127.0.0.1"
DB_USER="u716503964_admin"
DB_PASS="SUA_SENHA_AQUI"
DB_NAME="frameia_hubitat"

# Credenciais de Autenticação Social OAuth
GOOGLE_CLIENT_ID="71269651978-gp165jo1i5r6mgmb22u8s82g0jsdh5v0.apps.googleusercontent.com"
MICROSOFT_CLIENT_ID="138269ce-38e6-4c1e-bc6a-b5292e877a24"
FACEBOOK_APP_ID="2263040147842797"
