# Configurações do Servidor Hubitat
SECRET_KEY="hubitat_segredo_mestre_2026"
PORT=5002

# Configuração do Banco de Dados MySQL Exclusivo
DB_HOST="127.0.0.1"
DB_USER="u716503964_admin"
DB_PASS="SUA_SENHA_AQUI"
DB_NAME="frameia_hubitat"
